@font-face {
    font-family: open-ligth;
    src: url(../font-family/OpenSans-Light.ttf);
   
    
}
@font-face {
    font-family: semi-bold;
    src: url(../font-family/OpenSans-SemiBold.ttf); 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: open-ligth;
   
}

body{
   
}
header{
    background: url(../images/background.jpg) no-repeat fixed;
    width: 100vw;
    height: 100vh;
}
header .container-menu{
    display: flex; 
    justify-content: space-between;
    max-width: 1200px; 
    margin: auto;
    align-items: center;
    padding: 10px auto;
}
header .container-menu .logo-menu{
    color: #ffff;
    cursor: pointer;
}
header .container-menu .logo-menu label{
    cursor: pointer;
}
header .container-menu .logo-menu{}
nav.menu {}
nav.menu a{
    font-family: semi-bold;
    color: #ffff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

