@font-face {
    font-family: open-ligth;
    src: url(../font-family/OpenSans-Light.ttf);
}

@font-face {
    font-family: semi-bold;
    src: url(../font-family/OpenSans-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: open-ligth;
}

body {}

header {
    background: url(../images/background.jpg) no-repeat fixed;
    width: 100%;
    height: 100vh;
    position: relative;
}

.legend-message {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    font-family: 'semi-bold';
    font-size: 2rem;
    transform: translate(-50%, -50%);
    text-align: center;
    word-wrap: break-word;
    z-index: 1;
}

header .container-menu {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 0 30px;
}

header .container-menu .logo-menu {
    color: #ffff;
    cursor: pointer;
}

header .container-menu .logo-menu label {
    cursor: pointer;
    font-size: 29px;
    padding: 10px 0;
}

header .container-menu .logo-menu {}

nav.menu {}

nav.menu a {
    font-family: semi-bold;
    color: #ffff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

#secundary{
    display: none;
}

.section-secundary-menu {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition: all ease 500ms;
    z-index: 2;
}
.menu-secundary {
    padding: 50px 0 0 10px;
    width: 100%;
    background: #1c1c1c;
    height: 100vh;
    max-width: 350px;
    position: relative;
    transform: translateX(-100%);
    transition: all ease 500ms;
   
}


#secundary:checked ~ .section-secundary-menu{
    opacity: 1;
    visibility: visible;
}

#secundary:checked ~ .section-secundary-menu .menu-secundary{
    transform: translateX(0%);

}

.menu-secundary label{
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.menu-secundary a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: block;
    font-size: 1.3rem;
    transition: all ease 0.3s;
    border-left: 2px solid transparent;
    text-transform: capitalize;
}


.menu-secundary a:hover{
    border-left: 2px solid rgb(241, 241, 241);
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}